/*Class*/
%close-pse {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: var(--font-color);
}

.preview-modal {
  background: var(--main-color);
  overflow-y: auto;
  max-height: 90%;
  font: inherit;
  color: var(--color-accent);
  max-width: 80%;
  outline: none;
  padding: $l-size;
  text-align: left;
  white-space: pre-wrap;
  border: 5px solid var(--color-accent);
  border-radius: 2rem;
  word-break: unset;
  word-wrap: unset;
  overflow-wrap: unset;
  -webkit-hyphens: unset;
  -moz-hyphens: unset;
  -ms-hyphens: unset;
  hyphens: unset;
  -moz-user-select: -moz-text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
   user-select: text;

  .expand{
    overflow: hidden;
    border-width:0px;
    width: 100%;
    height: 100%;
    border:none;
    font: inherit;
    resize: none;
    background-color: var(--bg-input-color);
    color: var(--text);
  }

  .button {
    border: 2px solid var(--color-accent);
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    color: var(--color-accent);
    background-color: var(--main-color) !important;
    text-decoration: none;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    display: inline-block;
    margin: $s-size $s-size/2;
    font-weight: bold;
  }

  .button-click {
    border: none;
    color: var(--main-color) ;
    background-color: var(--color-accent) !important;
  }
}

.prevent-modal {
  border: 5px solid #F55757 !important;
  color: #F55757 !important;
  max-width: 60% !important;
  word-break: keep-all;
  h3 {
    max-width: 80%;
    word-break: keep-all;
  }
  button {
    margin:0 auto;
    border: 2px solid;
    border-radius: 4px;
    font: inherit;
    font-size: 1.2em;
    padding: .4em 1.2em;
    color: #ffffff;
    background-color: #F55757 !important;
  }
  .button {
    border: 2px solid #F55757 !important;
    color:  #F55757 !important;
  }
  .button-click {
    border: none;
    color: #ffffff !important;
    background-color: #F55757 !important;
  }
}

.ReactModalPortal {
  &>div {
    opacity: 0;
  }
  .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    word-break: break-all;
    transition: opacity 200ms ease-in-out;
  }
  .ReactModal__Overlay--after-open {
    opacity: 1;
    background-color: var(--overlay) !important;
  }
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  .ReactModal__Content {
    margin-left: 340px;
    position: relative;
    .modal-panel{
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
    .modal__title {
      margin: 0 0 $m-size 0;
      font-size: 1.5rem;
    }
    .close {
      position: absolute;
      right: 16px;
      top: 13px;
      width: 32px;
      height: 32px;
      opacity: 0.3;
      &:hover {
        opacity: 1;
      }
      &:before{
        @extend %close-pse;
        transform: rotate(45deg);
      } 
      &:after {
        @extend %close-pse;
        transform: rotate(-45deg);
      }
    }
  }
  
}
@media only screen and (max-width: 768px) {
  .ReactModal__Content {
    margin-left: 0px !important;
  }
  .preview-modal {
    padding: 1.6em;
    max-width: 83%;
    .modal-panel {
      margin-top: 1em;
    }
    .modal__title {
      font-size: 1.4em;
      margin: 0 !important;
    }
    .button {
      padding: 7px
    }
  }
  .prevent-modal {
    max-width: 90% !important;
    .button {
      font-size: 15px;
      width: 100%;
    }
    .modal__title {
      margin-bottom: 10px !important;
    }
  }
}
  
  
  




  