/* Fonts ---------------------------- */

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro'), url(/public/assets/fonts/SourceCodePro-Regular.ttf) format('truetype');
}

/*Mixin*/
@mixin hX ($font-size, $font-weight) {
  margin-top: 0;
  line-height: 1.5;
  font-size: $font-size;
  font-weight: $font-weight;
}
/* Global ---------------------------- */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  -webkit-user-drag: none; /* disable dragging */
  cursor: default; /* use default cursor */
  overflow: hidden; /* Prevents rubber-band scrolling of the whole "page" */
  color: var(--font-color) !important;
  background-color: var(--main-color);
  body {
    margin: 0;
    height: 100%;
    display: flex;
    /* Links */
    a {
      cursor: pointer;
      text-decoration: none;
      border-bottom: 1px dashed;
      outline: none;
      color: var(--color-link);

      &[target],
      &[href^="https://"],
      &[href^="http://"] {
        border-bottom: 1px solid;
      }

      &:hover, &:focus {
        border-bottom: none;
      }
    }
    /*Button*/
    button{
      cursor: default;
    }

    /*Heading*/
    h1 {
      @include hX(1.5em, 600);
    }

    h2 {
      @include hX(1.3em, normal);
    }

    h3 {
      @include hX(1.12em, 600);
    }
    /* Images */

    img {
      -webkit-user-drag: none; /* disable dragging */
    }

    svg {
      fill: currentColor;
    }
    /* Quote */
    blockquote {
      margin: 20px 0 30px;
      padding-left: 20px;
      border-left: 5px solid  var(--border-color);
      line-height: 25px;
    }

  }
}

/* Utilities ---------------------------- */

.u-avoid-clicks {
  pointer-events: none;
}

/* Visually hidden, but will be read by screen readers */
.u-visible-to-screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.no-display {
  display: none;
}

.wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.shown {
  display: block !important;
}
.hide {
  display: none !important;
}


/* Content ------------------ */

.content {
  flex: 1;
  position: relative;
  overflow: auto;
  //margin-left: 25%;;
}
.widget__message {
  font: inherit;
  padding: 0.3rem;
  margin-left: 2rem;
  margin-bottom: 1px;
}

.toggle-dark-mode {
  -webkit-appearance: none;
  outline: 0;
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: var(--gradient-style);
  box-shadow: 0 0 14px var(--gradient-size) var(--gradient-shadow);
  cursor: pointer;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .content * {
    width: 100%;
  }
}
